@page "/departmentsForm" // route to add new department
@page "/departmentsForm/{Id:int}" // route to edit a record

@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject HttpClient Http
@inject NavigationManager navigationManager

@if (Id == 0)
{
    <h3>Add new department</h3>
}
else
{
    <h3>Edit department data</h3>
}

<EditForm Model="@oDepartment">
    <div class="container-fluid">
        <div class="form-group row mb-1">
            <label class="col-sm-3">Description</label>
            <div class="col-sm-9">
                <InputText class="form-control" @bind-Value="@oDepartment.Description"></InputText>
            </div>
        </div>
        <div class="form-group row mb-1">
            <div class="col-sm-12">
                <button class="btn btn-primary" @onclick="Add">Save</button>
            </div>
        </div>
    </div>
</EditForm>

@code {
    [Parameter]
    public int Id { get; set; } //Parameter to edit a record

    Department oDepartment = new Department();
    Response<object>? oResponse = new Response<object>();
    Response<Department>? oResponseDepartment = new Response<Department>();
    public string Url = "api/Department/"; // Defines url of the API response

    private async Task Add()
    {
        if (Id == 0) //On click method to add new department to db
        {
            var response = await Http.PostAsJsonAsync<Department>(Url, oDepartment); //Populate Department object with data from interface
            oResponse = response.Content.ReadFromJsonAsync<Response<object>>().Result; //Deserialize Department to a generic object
        }
        else //On click method to edit record from db
        {
            var response = await Http.PutAsJsonAsync<Department>(Url, oDepartment);
            oResponse = response.Content.ReadFromJsonAsync<Response<object>>().Result;
        }
        navigationManager.NavigateTo("/departments"); //Returns to list page
    }

    //Get a record from db
    protected override async Task OnInitializedAsync()
    {
        try
        {
            if (Id != 0)
            {
                oResponseDepartment = await Http.GetFromJsonAsync<Response<Department>>(Url + Id);
                oDepartment = oResponseDepartment.Data;
            }
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }
}
