@page "/loggedTimeTypes"

@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject HttpClient Http

<h3>Logged Time Types</h3>

<div class="row">
    <div class="col-12 text-end">
        <a href="loggedTimeTypesForm">New log type</a>
    </div>
</div>

<table class="table table-striped">
    @if (oResponse != null && oResponse.Data != null) //Check if there's a response from the server
    {
        <thead>
            <tr>
                <th>ID</th>
                <th>Description</th>
                <th></th>
            </tr>
        </thead>

        @foreach (var oElement in oResponse.Data)
        {
            <tbody>
                <tr>
                    <td>@oElement.Id</td>
                    <td>@oElement.Description</td>
                    <td>
                        <a href="/loggedTimeTypesForm/@oElement.Id">Edit</a>
                        <a href="/loggedTimeTypesDelete/@oElement.Id">Delete</a>
                    </td>
                </tr>
            </tbody>
            
        }
    }
    else
    {
        <p>Retrieving data...</p>
    }
</table>

@code {
    public string Url = "api/loggedTimeType/"; // defines url of the API response
    public Response<List<LoggedTimeType>>? oResponse = new Response<List<LoggedTimeType>>();

    //Populate employee with response from server
    protected override async Task OnInitializedAsync()
    {
        try
        {
            oResponse = await Http.GetFromJsonAsync<Response<List<LoggedTimeType>>>(Url);
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }
}
